.blog__posts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__posts--view-all {
  color: $blue-color;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: darken($color: $blue-color, $amount: 20);
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  #blog__posts {
    margin-top: 0px;
    h3 {
      color: $medium-gray;
      font-size: 18px;
    }
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 1) {
  #blog__posts {
    margin-top: 60px;
    scroll-margin: 100px;
  }
}
