#brands {
  margin-top: 80px;
  position: relative;
  scroll-margin: 100px;

  h4 {
    margin-bottom: 20px;
    display: none;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #brands {
    margin-top: 40px;

    h4 {
      display: block;
    }
  }
}
