#brands {
  margin-top: 40px;

  h4 {
    display: block;
  }
}

@media (min-width: 1000px) and (max-width: 2400px) {
  #brands {
    margin-top: 80px;
    position: relative;
    scroll-margin: 100px;

    h4 {
      margin-bottom: 20px;
      display: none;
    }
  }
}
