#features {
  margin-top: 120px;
  h4:first-child {
    margin-bottom: 40px;
    display: none;
  }
}

@media (max-width: 414px) {
  #features {
    margin-top: 80px;

    h4:first-child {
      margin-bottom: 40px;
      display: block;
    }
  }
}
