#newsletter {
  margin-top: 60px;
}

.newsletter__signup {
  background: $primary;
  color: white;
  padding: 80px 0px;
  position: relative;
  scroll-margin: 70px;

  .newsletter__banner--subscribe-btn {
    background: $base-text-color;
    position: absolute;
    right: 119px;
    z-index: 1;
    transition: 0.3s;
    top: 121px;

    &:hover {
      background: darken($color: $base-text-color, $amount: 5);
    }
  }
}

.newsletter__signup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter__briefs {
  width: 90px;
}

.newsletter__signup--content-description {
  width: 655px;
  margin-left: 43px;

  p {
    margin-top: 20px;
  }
}

.newsletter__email-input {
  height: 49px;
  border: none;
  border-radius: 12px;
  padding: 10px 24px;
  width: 400px;
  position: relative;
  z-index: 1;
}

.newsletter__bg-texture {
  position: absolute;
  width: 37px;
}

.top__texture {
  z-index: 1;
  top: 54px;
  left: 38.5%;
}

.bottom__texture {
  right: 88px;
  bottom: 34%;
}

@media (max-width: 414px) {
  .newsletter__signup {
    background: #ff723d;
    color: white;
    padding: 30px 0px;
    position: relative;
    height: 422px;
  }
  .newsletter__signup-content {
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  .newsletter__signup--content-description {
    margin-left: 0px;
    width: auto;
  }

  .newsletter__email-input {
    height: 49px;
    border: none;
    border-radius: 12px;
    padding: 10px 24px;
    width: 352px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }
  .newsletter__signup {
    .newsletter__banner--subscribe-btn {
      background: #25282b;
      position: absolute;
      right: 8px;
      z-index: 1;
      transition: 0.3s;
      bottom: 41px;
      top: 381px;
      height: 52px;
    }
  }
  .newsletter__bg-texture {
    display: none;
  }
}
