/** MOBILE IPHONE 6+, IPHONE7+, IPHONE 8+**/
#newsletter {
  margin-top: 60px;
}

.newsletter__signup {
  background: $primary;
  color: white;
  padding: 30px 0px 0px;
  position: relative;
  height: 422px;

  .newsletter__banner--subscribe-btn {
    background: $base-text-color;
    position: absolute;
    right: 8px;
    top: 370px;
    height: 52px;
    color: white;
  }
}

.newsletter__signup-content {
  display: block;
  justify-content: space-between;
  align-items: center;
}

.newsletter__briefs {
  width: 90px;
}

.newsletter__email-input {
  height: 49px;
  border: none;
  border-radius: 12px;
  padding: 10px 24px;
  margin-top: 20px;
}

.newsletter__bg-texture {
  display: none;
}

@media (max-width: 414px) {
  .newsletter__email-input {
    width: 350px;
  }
}

@media (max-width: 375px) {
  .newsletter__email-input {
    width: 316px;
  }
}

@media (max-width: 320px) {
  .newsletter__email-input {
    width: 263px;
  }

  .newsletter__signup {
    height: 495px;
  }

  .newsletter__signup .newsletter__banner--subscribe-btn {
    top: 441px;
  }
}

@media (min-width: 1000px) and (max-width: 2400px) {
  .newsletter__signup {
    padding: 80px 0px;
    height: auto;
    scroll-margin: 70px;

    .newsletter__banner--subscribe-btn {
      right: 119px;
      z-index: 1;
      transition: background 0.3s;
      top: 131px;

      &:hover {
        background: darken($color: $base-text-color, $amount: 5);
      }
    }
  }

  .newsletter__signup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .newsletter__signup--content-description {
    width: 655px;
    margin-left: 43px;

    p {
      margin-top: 20px;
      width: 85%;
    }
  }

  .newsletter__email-input {
    width: 400px;
    z-index: 1;
  }

  .newsletter__bg-texture {
    position: absolute;
    width: 37px;
  }

  .top__texture {
    z-index: 1;
    top: 54px;
    left: 38.5%;
  }

  .bottom__texture {
    right: 88px;
    bottom: 34%;
  }
}

@media (max-width: 1920px) {
  .newsletter__signup .newsletter__banner--subscribe-btn {
    right: 269px;
  }
}
