#selected__products {
  margin-top: 60px;
}

@media (min-width: 320px) and (max-width: 414px) {
  .selected__prods-controls {
    display: none;
  }

  #selected__products {
    margin-top: 0px;

    h4:first-child {
      margin-bottom: 20px;
      visibility: visible !important;
    }
  }
}

@media (min-width: 1200px) and (max-width: 2400px) {
  #selected__products h4:first-child {
    visibility: hidden;
  }

  .selected__prods-controls-inside--gray {
    height: 226%;
    background: #f9f9fb;
    position: absolute;
    z-index: -1;
    top: -120px;
    width: 805px;
    right: -68px;
  }
  .selected__prods-controls {
    width: 20%;
    position: absolute;
    top: 120px;
    z-index: 1;
  }

  .controls {
    display: flex;
    margin-top: 40px;
  }
}
