#selected__products {
  margin-top: 60px;
}

.selected__prods--flex {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // align-items: center;
  // grid-gap: 100px;
}

.selected__prods-controls-inside--gray {
  height: 226%;
  background: #f9f9fb;
  position: absolute;
  z-index: -1;
  top: -120px;
  width: 466px;
  right: -68px;
}
.selected__prods-controls {
  margin-right: 150px;
  width: 20%;
  position: absolute;
  top: 120px;
  z-index: 1;
}

.controls {
  display: flex;
  margin-top: 40px;
}

@media (max-width: 414px) {
  .selected__prods-controls {
    display: none;
  }

  #selected__products {
    margin-top: 0px;

    h4 {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1440px) {
  #selected__products h4:first-child {
    visibility: hidden;
  }
}
