.badge {
  position: absolute;
  background-color: white;
  color: $primary;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 17px;
  right: 28px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 1) {
  .badge {
    top: 6px;
    right: 122px;
  }
} ;
