.navbar {
  background-color: $primary;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 31px 27px;
  position: relative;
}

.navbar__logo__burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: -1;
  flex-direction: row-reverse;

  i {
    color: white;
    font-size: 24px;
    margin-right: 20px;
    display: block;
  }
}

.navbar__logo {
  width: 150px;
  order: -1;
}

.navbar__searchbar-btn {
  position: relative;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
}

.navbar__searchbar {
  border-radius: 20px;
  border: none;
  padding: 10px 24px;
  position: relative;
  color: $base-text-color;
  width: 308px;
  height: 25px;
  margin-top: 20px;
}

.navbar__actions {
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: flex-end;
  color: white;
  order: -1;

  .navbar__action {
    margin-right: 20px;
  }
  p {
    display: none;
  }
}

.currency {
  display: none;
}

.cart {
  i {
    position: relative;
  }
}

@media (max-width: 320px) {
  .navbar__logo {
    width: 130px;
  }

  .sidebar__logo-black {
    width: 130px;
  }
}

@media (min-width: 1000px) and (max-width: 2400px) {
  .navbar {
    padding: $padding-nav-menu;
    position: sticky;
    top: 0px;
    z-index: 2;
    grid-template-columns: 1fr 1fr 1fr;

    p {
      font-size: 12px;
    }
  }

  .navbar__searchbar {
    height: 10px;
    width: 319px;
    margin-top: 0px;
  }

  .navbar__searchbar-btn {
    grid-column: auto;
  }

  .navbar__logo__burger {
    display: flex;
    justify-content: flex-end;

    i {
      display: none;
    }
  }

  .navbar__actions {
    order: 1;

    .currency {
      display: block;
    }

    p {
      display: block;
    }
  }
}

@media (max-width: 1920px) {
  .navbar__searchbar {
    width: 468px;
  }
}
