@media (min-width: 320px) and (max-width: 414px) {
  .sidebar {
    display: block !important;
    z-index: 1;
    height: 100vh;
    width: 60%;
    background: white;
    position: fixed;
    z-index: 10;
    padding: 40px;

    h3 {
      margin-bottom: 10px;
      font-size: 24px;
    }
  }

  .sidebar__products--list,
  .sidebar__about--list,
  .sidebar__contact--list {
    margin-bottom: 20px;

    li {
      font-size: 20px;
    }
  }

  .sidebar__contact--list {
    color: $primary;
  }

  .siderbar__logo-icon {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    img {
      margin-bottom: 0px;
    }

    i {
      margin-right: 20px;
      font-size: 34px;
    }
  }

  .sidebar__products-about {
    padding-left: 42px;
    border-bottom: 1px solid $divider-color;
  }

  .sidebar__contact {
    padding-left: 42px;
    margin-top: 40px;
  }

  .sidebar__hide {
    transform: translateX(-328px);
  }
}

@media (max-width: 375px) {
  .sidebar {
    h3 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  .sidebar__products--list,
  .sidebar__about--list,
  .sidebar__contact--list {
    margin-bottom: 20px;

    li {
      font-size: 18px;
    }
  }

  .sidebar__contact {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .sidebar {
    h3 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  .siderbar__logo-icon {
    margin-bottom: 20px;
  }

  .sidebar__products--list,
  .sidebar__about--list,
  .sidebar__contact--list {
    margin-bottom: 10px;

    li {
      font-size: 16px;
    }
  }

  .sidebar__contact {
    margin-top: 10px;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .sidebar {
    display: none;
  }
}
