/** MOBILE IPHONE6+, IPHONE7+, IPHONE8+ **/
.brands__slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
  margin-top: 40px;

  img {
    width: 100px;
  }
}

.selected__prods-slider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  height: 103%;
  width: 100%;
  position: relative;
  top: 0px;
  right: 0px;
  padding: 10px 0px 10px 2px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 1) {
  .brands__slider {
    grid-template-columns: repeat(6, 1fr);
  }

  .selected__prods-slider {
    display: flex;
    align-items: center;
    position: absolute;
    overflow: unset;
    top: 64px;
    right: -499px;
    width: 100%;
    transition-duration: 0.6s;
    height: auto;
  }
}
